{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">FBページ名</th>
                <th scope="col">最新取得日</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
            <tr>
                <td>{{page.name}}</td>
                <td><a href="/ad/sorted_detail?check_date=2019-12-19&amp;fbpage_id=105178707637464">{{page.scraped_at|date:'Y年m月d日'}}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}