{% extends 'base.html' %}

{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">URL</th>
            <th scope="col">件数</th>
            </tr>
        </thead>
        <tbody>
                {% for count in count_lp_url %}
                    <tr>
                        <td>
                            <a href="{{count.0}}" target="_blank" rel="noopener noreferrer">{{count.0|truncatechars:100}}</a>
                        </td>
                        <td>{{count.1}}</td>
                    </tr>
                {% endfor %}

        </tbody>
    </table>
</div>

{% endblock content %}